/* 套用在全局的樣式設定 */

$themeColor: rgba(152, 57, 255, 0.5);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  position: relative;
  img.fixed-image {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -100;
    top: 0;
    left: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  ul {
    list-style: none;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $themeColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(245, 78, 214);
}
