$themeColor: rgba(152, 57, 255, 0.5);
// -- 背景圖片輪播  --
section.slide-img {
  //   border: 2px solid red;
  width: 100%;
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.75s ease;
  position: relative;
  z-index: 0;

  div.filter {
    width: 100%;
    min-height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  div.travel-description {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #fff;
      font-size: 2.5rem;
      text-align: center;
    }
  }
}
// -- 遊玩主題介紹  --
section.play-theme {
  transition: all 0.3s ease-in-out;
  &.play-theme-dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }

  &.play-theme-light {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
  padding: 1.5rem 1rem;

  div.theme-title {
    p {
      text-align: center;
      font-size: 2rem;
    }
  }
  div.circle-img {
    // border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    div.circle {
      flex: 0 1 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 80%;
        border-radius: 50%;
        transition: all 0.5s ease;
        padding: 0.3rem;
        &:hover {
          padding: 0.2rem;
          border: 3px solid $themeColor;
        }
      }
      p {
        text-align: center;
      }
    }
  }
}

// -- 介紹區塊 --
section.empty-container {
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    color: #fff;
    font-size: 2rem;
  }
}

// -- 日本地理位置 --
section.google-map {
  transition: all 0.3s ease-in-out;
  &.google-map-dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  &.google-map-light {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
  min-height: 40vh;
  div.location-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    h3 {
      font-size: 2.5rem;
    }
    p {
      text-align: center;
      margin: 1rem;
      font-size: 1.25rem;
    }

    iframe {
      width: 100%;
      height: 40vh;
    }
  }
}
